td,
th {
    padding-right: 50px;
    border: 2px solid black;
}

td.pad {
    padding-right: 10px;
    font-weight: bold;
    border-style: none;
}

td.unbor {
    border-style: none;
}

h3 {
    font-family: 'Courier New', Courier, monospace;
}

#tab {
    border-collapse: collapse;
    border: 2px solid black;
}